.cabecera .nav-bar .derecha{
    position: relative;
    display: inline-block;
    margin-top: 35px;
}

.cabecera .nav-bar .derecha .hamburger-menu{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.cabecera .nav-bar .derecha .hamburger-menu button{
    background-color: transparent;
    width: auto;
    height: auto;
    border: none;
}

.cabecera .nav-bar .derecha .hamburger-menu button .bar{
    height: 6px;
    background: black;
    border-radius: 5px;
    margin: 6px 0px;
    transform-origin: left;
    transition: all 0.5s;
}
  
.cabecera .nav-bar .derecha .links-desplegables{
    position: absolute;
    width: 150px;
    z-index: 1;
    margin-top: 32px;
    left: calc(100% - 150px);
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cabecera .nav-bar .derecha .links-desplegables li{
    list-style: none;
}

.cabecera .nav-bar .derecha .links-desplegables li a{
    font-size: 1.5rem;
    border-bottom: 1px solid #808080;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-Desplegable{
    display: none;
}

.hamburger-top{
    transform: rotate(43deg);
}
  
.hamburger-middle{
    opacity: 0;
}
  
.hamburger-bottom{
    transform: rotate(-43deg);
}
