*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    background-color: #F7931A;
}
.cabecera .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cabecera .nav-bar .izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
}
.cabecera .nav-bar .izquierda img{
    width: 60px;
    height: 60px;
}
.cabecera .nav-bar .derecha{    
    width: 20%;
    height: 80%;
}
.cabecera .nav-bar .derecha .nav-bar--destok{    
    width: 100%;
    height: 100%;
    display: none;
}

.pie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 120PX;
    background-color: #F7931A;
}
.pie div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie div ul li{
    list-style: none;
    margin-bottom: 5px;
}
.pie div ul li a{
    font-size: 1.5rem;
    color: aliceblue;
    text-decoration: none;
}

